.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.p-4 {
  padding: 4px;
}

.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
