:root {
    --text1: #fafafa;
    --bg1: #111;
    --bg2: #444;
    font-size: 16px;
}

body {
    font-size: 12px;
    overscroll-behavior-x: none;
}

button {
    border: none;
    background: none;
    color: var(--text1);
    cursor: pointer;
}

input {
    border: 1px solid;
    padding-left: 4px;
    border-radius: 4px;
    width: 100%;
    background: none;
    line-height: 1;
    font-size: 12px;
    color: var(--text1);
}