@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .border-bottom-1 {
        border-bottom: 1px solid var(--border-grey);
    }

    .ml-2 {
        margin-left: 2px;
    }

    .mb-2 {
        margin-bottom: 2px;
    }
}