:root {
    --text1: #fafafa;
    --bg1: #111;
    --bg2: #444;
}

body {
    font-size: 12px;
    overscroll-behavior-x: none;
}

button {
    border: none;
    background: none;
    color: var(--text1);
    cursor: pointer;
}

div:focus {
    outline: none;
}

a:visited {
    color: plum;
}

input {
    border: 1px solid;
    padding-left: 4px;
    border-radius: 2px;
    height: 14px;
    width: 100%;
    background: none;
    line-height: 12px;
    font-size: 12px;
    color: var(--text1);
    box-sizing: border-box;
}

input:focus {
    outline: 1px solid orange;
}